@use "sass:math";

$base: 1920;

@function pxToVw($px) {
  @return ($px / $base) * 100vw;
}

.CraftStore{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

  .rosterStore{
    width: pxToVw(1211);
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: pxToVw(17);

    .listCategory{
      width: pxToVw(1197);
      height: pxToVw(53);
      display: flex;
      gap: pxToVw(15);

      .cellCategory{
        width: pxToVw(187);
        height: pxToVw(53);
        box-sizing: border-box;
        border: pxToVw(1) solid rgba(255, 255, 255, 0.03);
        border-radius: pxToVw(8);
        background: rgb(29, 29, 38);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: pxToVw(12);
        transition: background 0.2s ease, border 0.2s ease;

        &:hover{
          border: pxToVw(1) solid rgba(255, 255, 255, 0.16);
          background: rgb(48, 131, 255, 0.5);

          span{
            color: rgb(254, 254, 254);
          }
        }

        &.selected{
          border: pxToVw(1) solid rgba(255, 255, 255, 0.15);
          background: rgb(48, 131, 255);

          span{
            color: rgb(254, 254, 254);
          }
        }

        img{
          width: pxToVw(21);
          height: auto;
        }

        span{
          color: rgb(119, 119, 144);
          font-family: "Gilroy";
          font-size: pxToVw(14);
          font-weight: 500;
          user-select: none;
        }
      }
    }

    .search{
      width: pxToVw(1196);
      height: pxToVw(54);
      border-radius: pxToVw(8);
      background: rgb(16, 17, 22);
      box-sizing: border-box;
      padding: pxToVw(11) pxToVw(19);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: pxToVw(11);

      .iconSearch{
        height: pxToVw(20);
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        img{
          height: pxToVw(15);
          aspect-ratio: 1/1;
        }
      }

      .strokeSearch{
        height: pxToVw(15);
        width: pxToVw(1127);
        display: flex;
        align-items: center;
        text-align: left;

        input{
          all: unset;
          font-size: pxToVw(16);
          font-weight: 500;
          font-family: "Gilroy";
          color: rgb(255, 255, 255);
          
          &::placeholder{
            color: rgb(44, 44, 58);
          }
        }
      }
    }

    .listItems{
      width: 100%;
      height: pxToVw(703);
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: min-content;
      overflow-y: auto;
      grid-row-gap: pxToVw(20);
      grid-column-gap: pxToVw(8);

      &::-webkit-scrollbar{
        width: pxToVw(2);
      }

      &::-webkit-scrollbar-track{
        border-radius: pxToVw(4);
        background: rgb(39, 39, 49);
      }

      &::-webkit-scrollbar-thumb{
        border-radius: pxToVw(4);
        background: rgb(96, 96, 115);
      }

      .cellItem{
        width: pxToVw(284);
        height: pxToVw(221);
        box-sizing: border-box;
        border-radius: pxToVw(10);
        border: 1px solid rgba(43, 46, 58, 0.31);
        background: rgba(29, 29, 38, 0.5);
        flex-direction: column;
        justify-content: space-between;
        padding: pxToVw(15);
        display: flex;
        align-items: center;
        transition: background 0.2s ease, border 0.2s ease;

        &:hover{
          border: pxToVw(1) solid rgba(43, 46, 58, 0.55);
          background: rgba(47, 47, 65, 0.5);
        }

        .topCellItem{
          height: pxToVw(30);
          width: 100%;
          display: flex;
          justify-content: space-between;
          
          .leftTopCellItem{
            width: auto;
            height: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;

            #category{
              color: rgb(68, 68, 85);
              font-family: "Gilroy";
              font-size: pxToVw(10);
              font-weight: 500;
              user-select: none;
            }

            #name{
              color: rgb(255, 255, 255);
              font-family: "Gilroy";
              font-size: pxToVw(14);
              font-weight: 500;
              user-select: none;
            }
          }

          .rightTopCellItem{
            width: auto;
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            flex-direction: column;

            #type{
              color: rgb(68, 68, 85);
              font-family: "Gilroy";
              font-size: pxToVw(10);
              font-weight: 500;
              user-select: none;
            }

            #quantity{
              color: rgb(255, 255, 255);
              font-family: "Gilroy";
              font-size: pxToVw(14);
              font-weight: 500;
              user-select: none;
            }
          }
        }

        .midCellItem{
          width: 90%;
          height: pxToVw(115);
          display: flex;
          align-items: center;
          justify-content: center;

          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
          }
        }

        .bottomCellItem{
          height: pxToVw(36);
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          .leftBottomCellItem{
            width: pxToVw(120);
            height: pxToVw(20);
            display: flex;
            flex-direction: row;
            gap: pxToVw(10);
            transform: translate(0, pxToVw(-5));
            
            .weightQuantity{
              width: pxToVw(55);
              height: 100%;
              display: flex;
              gap: pxToVw(5);
              align-items: center;

              img{
                width: pxToVw(13);
                height: auto;
              }

              span{
                color: rgb(255, 255, 255);
                font-family: "Gilroy";
                font-size: pxToVw(12);
                font-weight: 600;
                user-select: none;
              }
            }

            .materialsQuantity{
              width: pxToVw(55);
              height: 100%;
              display: flex;
              gap: pxToVw(5);
              align-items: center;

              img{
                width: pxToVw(13);
                height: auto;
              }

              span{
                color: rgb(255, 255, 255);
                font-family: "Gilroy";
                font-size: pxToVw(12);
                font-weight: 600;
                user-select: none;
              }
            }
          }

          .rightBottomCellItem{
            width: pxToVw(110);
            height: pxToVw(36);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: pxToVw(4);
            box-sizing: border-box;
            border: pxToVw(1) solid rgba(255, 255, 255, 0.03);
            border-radius: pxToVw(4);
            background: rgb(39, 39, 49);
            transition: background 0.2s ease, border 0.2s ease;

            &:hover{
              border: pxToVw(1) solid rgba(255, 255, 255, 0.16);
              background: rgb(48, 131, 255, 0.5);

              .textCartBlock{

                span{
                  color: rgb(255, 255, 255);
                }
              }
            }

            &.inCart{
              border: pxToVw(1) solid rgba(255, 255, 255, 0.15);
              background: rgb(48, 131, 255);

              .textCartBlock{

                span{
                  color: rgb(255, 255, 255);
                }
              }
            }

            .iconCartBlock{
              width: pxToVw(20);
              aspect-ratio: 1/1;
              display: flex;
              align-items: center;
              justify-content: center;

              img{
                height: pxToVw(15);
                width: auto;
              }
            }

            .textCartBlock{
              width: pxToVw(65);
              display: flex;
              align-items: center;
              justify-content: flex-start;

              span{
                color: rgb(96, 96, 115);
                font-family: "Gilroy";
                font-size: pxToVw(12);
                font-weight: 600;
                user-select: none;
              }
            }
          }
        }
      }
    }
  }

  .cartStore{
    width: pxToVw(343);
    height: 100%;
  }
}