@use "sass:math";

$base: 1920;

@function pxToVw($px) {
  @return ($px / $base) * 100vw;
}

.CraftCart{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: pxToVw(17);

  .headerCart{
    width: pxToVw(328);
    height: pxToVw(36);
    display: flex;
    align-items: center;
    justify-content: space-between;

    span{
      color: rgb(255, 255, 255);
      font-family: "Gilroy";
      font-size: pxToVw(24);
      font-weight: 700;
      user-select: none;
    }

    .totalAmount{
      width: pxToVw(200);
      height: pxToVw(20);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: row;
      gap: pxToVw(10);

      .totalWeight{
        min-width: pxToVw(55);
        max-width: pxToVw(75);
        height: 100%;
        display: flex;
        gap: pxToVw(5);
        align-items: center;

        img{
          width: pxToVw(13);
          height: auto;
        }

        span{
          color: rgb(255, 255, 255);
          font-family: "Gilroy";
          font-size: pxToVw(12);
          font-weight: 600;
          user-select: none;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          user-select: none;
        }
      }

      .totalMaterials{
        min-width: pxToVw(55);
        max-width: pxToVw(75);
        height: 100%;
        display: flex;
        gap: pxToVw(5);
        align-items: center;

        img{
          width: pxToVw(13);
          height: auto;
        }

        span{
          color: rgb(255, 255, 255);
          font-family: "Gilroy";
          font-size: pxToVw(12);
          font-weight: 600;
          user-select: none;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          user-select: none;
        }
      }
    }
  }

  .listCart{
    width: 100%;
    height: pxToVw(715);
    display: flex;
    flex-direction: column;
    gap: pxToVw(20);
    overflow-y: auto;

    &::-webkit-scrollbar{
      width: pxToVw(2);
    }

    &::-webkit-scrollbar-track{
      border-radius: pxToVw(4);
      background: rgb(39, 39, 49);
    }

    &::-webkit-scrollbar-thumb{
      border-radius: pxToVw(4);
      background: rgb(96, 96, 115);
    }

    .cellCart{
      width: pxToVw(328);
      min-height: pxToVw(127);
      box-sizing: border-box;
      border: pxToVw(1) solid rgba(43, 46, 58, 0.31);
      border-radius: pxToVw(10);
      background: rgba(29, 29, 38, 0.5);
      padding: pxToVw(15);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: background 0.2s ease, border 0.2s ease;

      &:hover{
        border: pxToVw(1) solid rgba(43, 46, 58, 0.55);
        background: rgba(47, 47, 65, 0.5);
      }

      .topcellCart{
        height: pxToVw(60);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .leftTopCellCart{
          width: pxToVw(150);
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
            user-select: none;
          }
        }

        .rightTopCellCart{
          width: pxToVw(125);
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          align-items: flex-start;
          gap: pxToVw(5);
          justify-content: flex-start;

          #category{
            color: rgb(68, 68, 85);
            font-family: "Gilroy";
            font-size: pxToVw(8);
            font-weight: 500;
            user-select: none;
          }

          #name{
            color: rgb(255, 255, 255);
            font-family: "Gilroy";
            font-size: pxToVw(12);
            font-weight: 500;
            user-select: none;
          }
        }
      }

      .bottomcellCart{
        height: pxToVw(31.5);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .leftBottomcellCart{
          width: pxToVw(120);
          height: pxToVw(20);
          display: flex;
          flex-direction: row;
          gap: pxToVw(10);
          margin-left: pxToVw(20);

          .weightQuantity{
            width: pxToVw(55);
            height: 100%;
            display: flex;
            gap: pxToVw(5);
            align-items: center;

            img{
              width: pxToVw(13);
              height: auto;
              user-select: none;
            }

            span{
              color: rgb(255, 255, 255);
              font-family: "Gilroy";
              font-size: pxToVw(12);
              font-weight: 600;
              user-select: none;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              user-select: none;
            }
          }

          .materialsQuantity{
            width: pxToVw(55);
            height: 100%;
            display: flex;
            gap: pxToVw(5);
            align-items: center;

            img{
              width: pxToVw(13);
              height: auto;
              user-select: none;
            }

            span{
              color: rgb(255, 255, 255);
              font-family: "Gilroy";
              font-size: pxToVw(12);
              font-weight: 600;
              user-select: none;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              user-select: none;
            }
          }
        }

        .rightBottomcellCart{
          width: pxToVw(125);
          height: 100%;
          display: flex;
          justify-content: space-between;

          .leftArrowButton{
            width: pxToVw(31.46);
            height: pxToVw(31.46);
            box-sizing: border-box;
            border: pxToVw(0.83) solid rgba(255, 255, 255, 0.03);
            border-radius: pxToVw(4.14);
            background: rgb(39, 39, 49);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background 0.2s ease, border 0.2s ease;

            &:hover{
              border: pxToVw(0.83) solid rgba(255, 255, 255, 0.16);
              background: rgb(48, 131, 255, 0.5);
            }

            &.active{
              border: pxToVw(0.83) solid rgba(255, 255, 255, 0.15);
              background: rgb(48, 131, 255);
            }

            img{
              height: pxToVw(10);
              width: pxToVw(5);
              user-select: none;
            }
          }

          .inputQuantity{
            width: pxToVw(48.84);
            height: pxToVw(31.46);
            border-radius: pxToVw(8);
            box-sizing: border-box;
            border: pxToVw(0.83) solid rgb(25, 25, 36);
            border-radius: pxToVw(4.14);
            background: rgb(18, 18, 26);
            padding: 0 pxToVw(5);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            input{
              all: unset;
              font-size: pxToVw(12);
              font-weight: 500;
              font-family: "Gilroy";
              color: rgb(255, 255, 255);
              -webkit-appearance: none;
              -moz-appearance: textfield;
              appearance: textfield;
              
              &::-webkit-inner-spin-button,
              &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
            }
          }

          .rightArrowButton{
            width: pxToVw(31.46);
            height: pxToVw(31.46);
            box-sizing: border-box;
            border: pxToVw(0.83) solid rgba(255, 255, 255, 0.03);
            border-radius: pxToVw(4.14);
            background: rgb(39, 39, 49);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background 0.2s ease, border 0.2s ease;

            &:hover{
              border: pxToVw(0.83) solid rgba(255, 255, 255, 0.16);
              background: rgb(48, 131, 255, 0.5);
            }

            &.active{
              border: pxToVw(0.83) solid rgba(255, 255, 255, 0.15);
              background: rgb(48, 131, 255);
            }

            img{
              height: pxToVw(10);
              width: pxToVw(5);
              user-select: none;
            }
          }
        }
      }
    }
  }

  .buttonCart{
    width: pxToVw(328);
    height: pxToVw(59);
    box-sizing: border-box;
    border: pxToVw(1) solid rgba(255, 255, 255, 0.15);
    border-radius: pxToVw(8);
    background: rgb(48, 131, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s ease, border 0.2s ease;

    &:hover{
      border: pxToVw(0.83) solid rgba(255, 255, 255, 0.16);
      background: rgb(48, 131, 255, 0.5);
    }

    &.failure{
      border: pxToVw(0.83) solid rgba(238, 31, 31, 0.16);
      background: rgba(177, 24, 24, 0.5);
    }

    span{
      color: rgb(255, 255, 255);
      font-family: "Gilroy";
      font-size: pxToVw(16);
      font-weight: 600;
      user-select: none;
    }
  }
}